
<!DOCTYPE html>
<html ng-app="countryApp">
<head>
	<title>Angular.js Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript">
		var countryApp = angular.module('countryApp',[]);
		countryApp.controller('CountryCtrl',function($scope, $http){
			$http.get('countries.json').success(function(data){
				$scope.countries = data;
			});
			$scope.sortField = '-id';
		});	
	</script>
</head>		
<body >
	<div ng-controller="CountryCtrl">
		search:<input ng-model="query" type="text" /><br>
		<table>
			<tr>
				<th><a href="" ng-click="sortField = 'name'">Country</a></th>
				<th><a href="" ng-click="sortField = 'id'">Id</a></th>
			</tr>
			<tr ng-repeat="country in countries|filter:query | orderBy:sortField ">
				<td>{{country.name}}</td>
				<td>{{country.id}}</td>
			</tr>
		</table>

	</div>	
</body>
</html>