



*{
	margin:0;
	padding:0;
}

body{
	background-color: grey;
	color:black;
	font-family: sans-serif;
}

a{
	background-color: grey;
	color: black;
	text-decoration: none;
}

a:hover{
	background-color: white;
	color: black;
	text-decoration: none;
}


.modify{
	font: serif;
	color: yellow;
	background-color: red;
	border: 5px solid brown;
}